/*-- scss:rules --*/
@import "variables.scss";

$warning-level-yellow: #ffff00;
$warning-level-orange: #ff9500;
$warning-level-red: #d10000;

.Banner-Alert {
  box-shadow: none;
  border-radius: $layout-border-radius-medium;


  &.yellow {
    background-color: $warning-level-yellow;
    .title, .description, .Banner-Alert--icon {
      color: $typography-color-primary;
    }
    color: $typography-color-primary;
  }

  &.orange {
    background-color: $warning-level-orange;
    .title, .description, .Banner-Alert--icon {
      color: $typography-color-primary;
    }
    color: $typography-color-primary;

  }

  &.red {
    background-color: $warning-level-red;
    .title, .description, .Banner-Alert--icon {
      color: $typography-color-primary-invert;
    }
    color: $typography-color-primary-invert;
  }

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: $layout-margin-small;
  padding: $layout-padding-medium $layout-padding-large;
  margin: $layout-margin-medium $layout-margin-none;
}

.Banner-Alert--container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .title {
    font: $typography-bold-body;
  }

  .description {
    font: $typography-regular-body;
  }
}

.Banner-Alert--icon {
  display: inline-flex;
  align-self: flex-start;
  padding-top: $layout-padding-xsmall;

  svg {

    min-width: $icons-size-medium;
    height: $icons-size-medium;

  }
}

/* Accordian warning level styling */

details.bcds-disclosure {
  summary {
    &.yellow {
      background-color: $warning-level-yellow;
      color: $typography-color-primary;
    }

    &.orange {
      background-color: $warning-level-orange;
      color: $typography-color-primary;
    }

    &.red {
      background-color: $warning-level-red;
      color: $typography-color-primary-invert;
    }
  }
}